* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  -webkit-user-select: none; /* Webkit browsers */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Generic */
}
/* Styling the scrollbar for the entire site */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #64ffda;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #32e0c4;
}

body::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

#main {
  position: relative;
  overflow: hidden;
}

#iframe-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Style the iframe to remove borders and take full width and height */
iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

#page {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow: hidden;
}
#page > img {
  display: block;
  width: 26%;
  position: absolute;
  right: 12%;
  top: 20%;
  transform: translateY(-50%);
  animation: pulse 3s infinite alternate; /* Apply the animation */
}

/* Animation for the image */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

#page > img::before {
  content: "";
  position: absolute;
  top: -20px; /* Adjust the position */
  left: -20px; /* Adjust the position */
  width: calc(100% + 40px); /* Adjust the width */
  height: calc(100% + 40px); /* Adjust the height */
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.2),
    transparent
  ); /* Circular shadow gradient */
  z-index: -1; /* Behind the image */
  border-radius: 50%; /* Create a circular shape */
}

.logo {
  max-width: 100px; /* Set the maximum width for the logo */
  height: auto;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px; /* Add padding for spacing */
  position: relative;
  z-index: 2;
}

#center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.3; /* Allow the center navigation links to grow and fill the space */
}

#center-nav a {
  text-decoration: none;
  color: #3f3f3f; /* Set the desired color */
  padding: 10px 15px; /* Add padding around each link */
  transition: color 0.3s ease;
  font-weight: 600;
  font-size: 18px;
}

#center-nav a:hover {
  color: rgb(118, 44, 187); /* Set the desired hover color */
}

#text {
  padding: 30px 50px;
  position: relative;
  top: 7%;
  left: 13%;
  color: #222222;
  height: 75%;
  width: 35%;
  scale: 1.2;
}
#text > h1 {
  font-size: 60px;
  line-height: 1.1;
  margin-top: 20px;
}
#text > h4 {
  margin-top: 30px;
  color: #383838;
  font-size: 15px;
  font-weight: 500;
}
#text > h5 {
  color: rgb(153, 0, 255);
  transform: rotate(-35deg);
  position: absolute;
  left: 2%;
}

/* Style for the parent span */
span {
  display: inline-block;
  margin-right: 15px; /* Adjust spacing as needed */
}

/* Style for the anchor (link) elements */
span a {
  display: inline-block;
  margin-right: 10px; /* Adjust spacing between icons */
  text-decoration: none;
  color: #333; /* Set the desired color */
  transition: color 0.3s ease;
  padding-top: 25px;
}

/* Style for the anchor on hover */
span a:hover {
  color: rgb(118, 44, 187); /* Set the desired hover color */
}

/* Style for the font awesome icons */
span a i {
  font-size: 28px; /* Set the desired icon size */
  margin-right: 10px;
}

/* PAGE 2 SKILLS*/

/* Common styles */
.skills {
  align-items: center;
  display: flex;
  padding: 20px;
}

.skills p {
  border-right: 2px solid rgba(45, 46, 50, 0.5);
  margin-right: 7rem;
  padding-right: 2.5rem;
  font-size: 1.4rem;
  color: #5a5858;
  font-weight: bold;
}

.logos ul {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}

.logos li img {
  width: 40px;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

#java {
  width: 31px;
}

.logos li .mongo {
  width: 100px;
  margin-top: 10px;
}

.logos li .node {
  width: 100px;
}

#typescript {
  width: 55px;
}

.logos li img:hover {
  transform: scale(1.4);
}

/* ------------------------------------ */

/* PAGE @2 */
#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
.about-content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

/* Style for the coder emoji */
#emoji {
  position: absolute;
  top: 78%;
  left: 37%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  width: 100px;
  height: 100px;
  z-index: 2; /* Set a higher z-index */
}

/* Style for the background image */
#bg {
  width: 70%;
  height: auto;
  display: block;
  margin-left: 13%;
  margin-top: 7%;
  border-radius: 2rem;
  z-index: 1; /* Set a lower z-index */
  transition: transform 0.3s ease;
}

#bg:hover {
  transform: scale(1.08); /* Scale the image to 110% on hover */
}

/* Style for the optional third image inside the span */
.img-side span {
  position: absolute;
  bottom: 35px;
  right: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0; /* Set a lowest z-index */
}

/* Style for the optional third image */
.img-side span img {
  width: 190px;
}

.text-side {
  padding-right: 4rem;
}
.text-side h3 {
  color: #147efb;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.text-side h4 {
  color: #3b3b46;
  font-family: Poppins, sans-serif;
  font-size: 2.3rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}
.text-side p {
  color: #767676;
  font-family: Mulish, sans-serif;
  font-size: 1.08rem;
  font-weight: 500;
  line-height: 1.5;
}
/* Responsive Styles */
@media screen and (max-width: 768px) {
  #page > img {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  iframe {
    display: none;
    background-color: aliceblue;
  }

  .logo {
    max-width: 70px;
  }

  #center-nav a {
    display: none;
  }

  #text {
    text-align: center;
    margin: 50% -12%;
    width: 100%;
  }

  #text h1 {
    font-size: 35px;
    line-height: 1.2;
  }

  #text h4 {
    font-size: 16px;
    margin: 10px 0;
  }

  #text h5 {
    font-size: 10px;
    margin: 22px;
    color: rgb(62, 91, 255);
    transform: rotate(-42deg);
    position: absolute;
    left: 2%;
  }

  #text span {
    text-align: center;
    width: 100%;
    color: rgb(62, 91, 255);
  }

  /* ---------------------------------------- */

  .logos li img {
    width: 60px;
  }

  #emoji,
  .img-side span img {
    display: none; /* Hide the emoji and span img on mobile screens */
  }

  #bg {
    width: 80%; /* Adjust the width for smaller screens */
    margin-left: 8%; /* Center the image horizontally */
  }

  .img-side span {
    bottom: 2%; /* Adjust the position for smaller screens */
  }

  .img-side span img {
    width: 100px; /* Adjust the image size for smaller screens */
  }
  .skills p {
    border-bottom: 2px solid rgba(45, 46, 50, 0.5);
    border-right: none;
    margin-bottom: 3rem;
    margin-right: 0;
    padding-bottom: 1rem;
    padding-right: 0;
  }
}
